@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #088178;
    --secondary-color: #1a1a1a;
    --main-padding: 80px;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

button.normal {
    background-color: white;
    color: #000;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

button.white {
    background-color: transparent;
    color: #fff;
    padding: 11px 18px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.section-p1 {
    padding: 40px 80px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

li {
    list-style: none;
}
input:focus
,textarea:focus
{
    outline: none;
}

/*Header*/
#header {
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--main-padding);
    z-index: 100;
}

#header img {
    cursor: pointer;
}

#header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header ul a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

#header ul a:hover,
#header ul .active {
    color: var(--main-color);
}

#header ul li {
    position: relative;
    padding: 0 20px;
}

#header li a.active::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: var(--main-color);
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}

#header #close {
    display: none;
}

/*End Header*/
/*start Hero*/
#hero {
    background-image: url(img/hero4.png);
    background-size: cover;
    height: 90vh;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px var(--main-padding);
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: var(--main-color);
}

#hero button {
    background-image: url(img/button.png);
    border: none;
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 700px;
    font-size: 15px;
}

/*End Hero*/
/*Start feature*/
#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    cursor: pointer;
}

#feature img {
    width: 100%;
    margin-bottom: 10px;
}

#feature h6 {
    background-color: var(--main-color);
    padding: 9px 8px 6px 8px;
    display: inline-block;
    background-color: #fddde4;
    line-height: 1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/*End feature*/
/*Start Product1*/
.product1 {
    text-align: center;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

.product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.product1 .pro-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-between;
    flex-wrap: wrap;
}

.product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

.product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.product1 .pro .des h4 {
    color: var(--main-color);
    font-size: 15px;
}

.product1 .pro a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: var(--main-color);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

/*End Product1*/
/*Start banner*/
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(img/b2.jpg);
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    padding: 10px 0;
    font-size: 30px;
}

#banner h2 span {
    color: red;
}

#banner button:hover {
    background-color: var(--main-color);
}

/*End banner*/
/*Start sm-banner*/
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#sm-banner .banner-box2 {
    background-image: url(img/banner/b10.jpg);
}

#banner3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    height: 30vh;
    min-width: 30%;
}

#banner3 .banner-box2 {
    background-image: url(img/banner/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(img/banner/b18.jpg);
}

#banner3 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: red;
    font-weight: 800;
    font-size: 15px;
}

/*End sm-banner*/
/*Start newSlatters*/
#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: var(--main-color);
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*End newSlatters*/
/*Start footer*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px
}

footer .col .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    font-size: 13px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-left: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid var(--main-color);
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: var(--main-color)
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/*End footer*/

/*Start Media Query*/
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #header ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    #navbar.active {
        right: 0;
    }

    #header ul li {
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #header #close {
        display: block;
        position: absolute;
        left: 20px;
        top: 30px;
        font-size: 27px;
        color: #222;
    }

    #header #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 20%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }
        .product1 .pro-container {
        justify-content: center;
    }

    .product1 .pro {
        margin: 15px;
    }
    #banner{
        height: 30vh;
    }
    #sm-banner .banner-box
    {
        min-width: 100%;
        min-height: 30vh;
    }
    #banner3
    {
        padding: 0 40px;
    }
    #banner3 .banner-box
    {
        width: 30%;
    }
    #newsletter .form
    {
        width: 70%;
    }
}
@media (max-width:477px)
{
    .section-p1
    {
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero
    {
        padding: 0 20px;
                background-position: 55%;
    }
    #feature
    {
        justify-content: space-between;
    }
    #feature .fe-box
    {
        width: 47%;
        margin:  0 0 15px 0;
    }
    .product1 .pro
    {
        width: 100%;
    }
    #banner
    {
        height: 40vh;
    }
    #sm-banner .banner-box
    {
        height: 40vh;
    }
    #sm-banner .banner-box2
    {
        margin-top: 20px;
    }
    #banner3
    {
        padding: 0 20px;
    }
    #banner3 .banner-box
    {
        width: 100%;
    }
     #newsletter
     {
        padding: 40px 20px;
     }
    #newsletter .form
    {
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
}
/*ŸèEnd Media Query*/